@model ThAmCo.Events.ViewModels.Staffing.Index

@{
    ViewData["Title"] = "StaffingIndex";
}

<h2>StaffingIndex</h2>

<p>
    <a asp-action="Create" asp-items=Id>Register a Staff</a>
</p>

<h3>Registered Staffs Count : @Model.Staffs.Count()</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Staffs.FirstOrDefault().Staff)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Staffs.FirstOrDefault().Event)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Staffs.FirstOrDefault())
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Staffs)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Staff.Fullname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Event.Title)
                </td>
                @*<td> Maybe add the Worked?
                    @Html.DisplayFor(modelItem => item.Attended)
                </td>*@
                <td>
                    <a asp-action="Delete" asp-route-staffid="@item.StaffId" asp-route-eventid="@item.EventId">Remove</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

