@model ThAmCo.Events.ViewModels.Guests.Index

@{
    ViewData["Title"] = "Index";
}

<h2>Guest Booking Page</h2>

<h3>Staffs</h3>
<h4>Total Guests : @Model.Guests.Count()</h4>
<h4>Total Attended Guests : @Model.Guests.Where(a => a.Attended).Count()</h4>

<p>
    <a asp-action="Create" asp-items=Id>Book a Customer</a>
</p>
<table class="table table-striped table-responsive">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Guests.FirstOrDefault().Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Guests.FirstOrDefault().Event)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Guests.FirstOrDefault().Attended)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Guests)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.Surname)
                    @Html.DisplayFor(modelItem => item.Customer.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Event.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Attended)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-cusid="@item.CustomerId" asp-route-eventid="@item.EventId">Register</a> |
                    <a asp-action="Delete" asp-route-cusid="@item.CustomerId" asp-route-eventid="@item.EventId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<h3>Events</h3>
<h4>Event Count : @Model.Events.Count() </h4>
<p>
    <a asp-controller="Event" asp-action="EventIndex">Go to event</a>
</p>
<table class="table table-striped table-responsive">
    <thead>
        <tr>
            <th>
                Events
            </th>
            <th>
                Date
            </th>
            <th>
                Duration
            </th>
            <th>
                Total Guests
            </th>
            <th>
                Total Attended Guests
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Events)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duration)
                </td>
                <td>
                    @Model.Guests.Where(a => a.EventId == item.Id).Count()
                </td>
                <td>
                    @Model.Guests.Where(a => a.Attended && a.EventId == item.Id).Count()
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

