@model IEnumerable<ThAmCo.Events.Data.Staff>

@{
    ViewData["Title"] = "StaffIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>StaffIndex</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstAider)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstAider)
            </td>
            <td>
                <a asp-action="Edit" asp-route-staffid="@item.StaffId">Edit</a> |
                <a asp-action="Details" asp-route-staffid="@item.StaffId">Details</a> |
                <a asp-action="Delete" asp-route-staffid="@item.StaffId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
