@model ThAmCo.Events.ViewModels.Venues.VenueVMIndex

@{
    ViewData["Title"] = "VenueIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Venue Index</h2>

<div class="form-group" style="padding:10px">
    <h3>Venue List : </h3>
    <h4>Total Venues : @Model.VenuesList.Count()</h4>
    <table class="table table-responsive table-striped">
        <thead>
            <tr>
                <th>
                    Venue Name
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VenuesList.FirstOrDefault().Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VenuesList.FirstOrDefault().Capacity)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.VenuesList)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Capacity)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="text-center text-danger">
    @TempData["Empty"]
    @TempData["Error"]
</div>

<h3>Available Venues</h3>
<div class="row" style="margin-top:15px">
    @using (Html.BeginForm("VenueIndex", "Venue", FormMethod.Get))
    {
        <div class="form-group col-1">
            <label class="control-label"> Event Type : </label>
            @Html.DropDownList("eventType", (SelectList)ViewData["EventTypes"])

        </div>
        <div class="form-group col-1">
            <label class="control-label"> Start Date : </label>
            <input asp-for="StartDate" type="date" id="beginDate" />
            @*@Html.Editor("beginDate")*@
        </div>
        <div class="form-group col-1">
            <label class="control-label"> End Date : </label>
            <input asp-for="EndDate" type="date" id="endDate" />
            @*@Html.Editor("endDate")*@
        </div>
        <div class="form-group col-1">
            <input type="submit" name="bnSubmit" class="btn btn-default" />
        </div>
    }
    @*<div class="form-group">
        <input id="btnShowAll" type="submit" name="bnShowAll" value="Show All" class="btn btn-default" />
    </div>*@

</div>

<h4>Total Available Venues : @Model.Venues.Count()</h4>
<table class="table table-responsive table-striped">
    <thead>
        <tr>
            <th>
                Venue Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Venues.FirstOrDefault().Capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Venues.FirstOrDefault().Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Venues.FirstOrDefault().CostPerHour)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Venues)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Capacity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CostPerHour)
                </td>
                <td>
                    <a asp-action="CreateEvent" asp-route-venueCode="@item.Code" asp-route-eventType="@ViewData["EventType"]" asp-route-date="@item.Date.ToString("dd/MM/yyyy")" asp-route-cost="@item.CostPerHour">Create Event</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="text-center text-danger">
    @TempData["Empty"]
    @TempData["Error"]
</div>