@model ThAmCo.Events.ViewModels.Venues.VenueVMIndex

@{
    ViewData["Title"] = "VenueIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Venue Index</h2>

@*<div class="column">
    <div class="col-md-4">
        <form asp-action="VenueIndex" method="get">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EventTypes" class="control-label"> Event Type : </label>
                <select required name="eventType" asp-for="EventTypes" class="form-control" asp-items="ViewBag.EventTypes"></select>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"> Date Begin : </label>
                <input asp-for="StartDate" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"> Date End : </label>
                <input asp-for="EndDate" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" name="btnSubmit" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>*@
<div class="row text-center">
    <div class="col-md-4">
        @using (Html.BeginForm("VenueIndex", "Venue", FormMethod.Get))
        {
        <div class="form-group">
            <label class="control-label"> Event Type : </label>
            @Html.DropDownList("eventType", (SelectList)ViewData["EventTypes"])

        </div>
        <div class="form-group">
            <label class="control-label"> Event Type : </label>
            @Html.Editor("beginDate")
        </div>
        <div class="form-group">
            <label class="control-label"> Event Type : </label>
            @Html.Editor("endDate")
        </div>
        <div class="form-group">
            <input type="submit" name="bnSubmit" class="btn btn-default" />
        </div>
        }
    </div>
</div>

<h3 class="text-center">Total Available Venues : @Model.Venues.Count()</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                Venue Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Venues.FirstOrDefault().Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Venues.FirstOrDefault().Capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Venues.FirstOrDefault().Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Venues.FirstOrDefault().CostPerHour)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Venues)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Capacity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CostPerHour)
                </td>
                <td>
                    <a asp-action="CreateEvent" asp-route-venueCode="@item.Code" asp-route-eventType="@ViewData["EventType"]" asp-route-date="@item.Date.ToString("dd/MM/yyyy")">Create Event</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="text-center text-danger">
    @TempData["Empty"]
    @TempData["Error"]
</div>