@model ThAmCo.Events.Data.Event

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title) :
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date) :
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Duration) :
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt>
            Event Type :
        </dt>
        <dd>
            @ViewData["EventType"]
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="EventIndex">Back to List</a>
</div>



<h2>Venue Reference : @Model.VenueReference</h2>

<h2>Venue Cost : @Model.VenueCost</h2>
@*<h2>Total Cost : @Model.VenueCost</h2>*@

<h3> List of Guests : </h3>

<table class="table table-responsive table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Bookings.FirstOrDefault().Customer.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bookings.FirstOrDefault().Customer.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bookings.FirstOrDefault().Customer.Email)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Bookings)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.Email)
                </td>
            </tr>
        }
    </tbody>
</table>

<h3> List of Staffs : </h3>

<table class="table table-responsive table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Staffings.FirstOrDefault().Staff.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Staffings.FirstOrDefault().Staff.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Staffings.FirstOrDefault().Staff.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Staffings.FirstOrDefault().Staff.FirstAider)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Staffings)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Staff.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Staff.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Staff.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Staff.FirstAider)
                </td>
            </tr>
        }
    </tbody>
</table>
